[
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
    "Answer the following multiple-choice questions with only the letter of the answer you're responding to.",
    "What is the name of the ship that brought the Pilgrims to America? a) Discovery b) Mayflower c) Speedwell d) Godspeed",
    "What battle is considered the turning point of the American Revolution? a) Battle of Fort Sumter b) Battle of Saratoga c) Battle of Gettysburg d) Battle of Trenton",
    "What year was the Boston Massacre? a) 1770 b) 1772 c) 1774 d) 1776",
    "Which Founding Father was the leader of the Sons of Liberty? a) John Adams b) Patrick Henry c) Samuel Adams d) John Jay",
    "Who was the first president to live in the White House? a) John Adams b) Thomas Jefferson c) George Washington d) James Madison",
    "Congress first established Independence Day as a holiday in what year? a) 1776 b) 1853 c) 1870 d) 1938",
    "Which three of these presidents died on the Fourth of July? a) George Washington, Chester Arthur, and James Monroe b) John Adams, Thomas Jefferson, and James Monroe c) Martin Van Buren, Zachary Taylor, and Abraham Lincoln d) Thomas Jefferson, Harry Truman, and John Tyler",
    "What political party formed in 1834 from anti-Andrew Jackson forces? a) Federalist b) Whig c) Libertarian d) Democratic-Republican",
    "What act gave settlers 160 acres of land if they agreed to live on it for five years? a) Public Lands Act b) Homestead Act c) Dawes Severalty Act d) Land Act",
    "Former Vice-President Aaron Burr was tried for what crime in 1807? a) Murder b) Tax Evasion c) Fraud d) Treason",
    "Olga, Olive, and Opal all contributed towards a charity, giving in the ratio 7:8:12. Altogether, they contributed $40,500. How much more did Opal contribute than Olga? a) $1500 b) $6000 c) $6500 d) $7500",
    "The sides of a triangle are in the ratio 6:4:3. If the perimeter of the triangle is 52 cm, what is the length of the shortest side? a) 9 cm b) 10 cm c) 11 cm d) 12 cm",
    "If $510 is to be divided among A, B, and C such that A gets 2/3 of what B gets and B gets 1/4 of what C gets, then what are their shares respectively? a) $120, $240, $150 b) $60, $90, $360 c) $150, $200, $60 d) $110, $80, $320",
    "RESET",
]